<html>

<body>
 
        <div> class="alert alert-danger><strong>Atenção!</strong>
        <ul>
                <% for(var i=0;i< dados.length; i++) {%>
                    <li><%=dados[i].dados[i] %></li>
                    <% } %>
        </ul>
        </div>
 

        
 
            <div> class="alert alert-danger><strong>Atenção!</strong>
            <ul>
                    <% for(var i=0;i< result.length; i++) {%>
                        <li><%=result[i] %></li>
                        <% } %>
            </ul>
            </div>
 

</body>

</html>